{% extends "header.html" %}


{% block home_page %} <!-- Home start -->
	<section id="404" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
		<div class="intro">
			{% block home_text %}
			<div class="start"> <!-- insert text --> </div>
			<h1>404<br>ERROR</h1>
			<div class="start"> The resquested page cannot be found!    </div>
			{% endblock %} <!-- endblock: home_text -->
		</div>
	{% block home_button %}
        
	{% endblock %}<!-- endblock: home_button -->

	</section>
{% endblock %} <!-- Home end -->



{% block about %} <!-- about start -->
{% endblock %}  <!-- about end -->


    
{% block projects %} <!-- Projects start -->
{% endblock %} <!-- Projects end -->


    
{% block skills %} <!-- Skills start -->
{% endblock %} <!-- Skills end -->

{% block call_to_action %} <!-- CallToAction start -->

{% endblock %} <!-- CallToAction end -->



{% block work_experience %}	<!-- Work experience start -->
{% endblock %} <!-- Work experience end -->



{% block scrool_up %}	<!-- Scroll to top -->
 {% endblock %} <!-- Scroll to top end-->

{% block foot %} <!-- Footer start -->
{% endblock%}