
{% block about %} <!-- About start -->
	<section id="about" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">About Me</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
						I am a 24 year old senior Aerospace Engineering student minoring in Physics (graduating spring 2016). 
						Most recently, I conducted research on the magnetic field effect on the convective thermal properties of magnetic fluids at UCF,
						for which I was awarded an honorable mention after my presentation at the Florida chapter of American Vacuum Society Florida chapter symposium.
						Currently, I am working on developing a web-based version of an Appropriate Technology Toolkit (AT<sup>2</sup>)
						that will be used around the world to help in the development and implementation of sustainable technologies. 
						I am passionate about sustainability, energy production, efficient and novel designs, bio-mimicry and more. 
						I am driven by my motivation to help tomorrow be the world we dream of today.
						</div>
					</div>

				</div>

			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<a href="https://docs.google.com/document/d/1LFQ_jXc2-gJ2GWOr4ISDxQLpQxkjoJopAXPPLHDvOqU/edit?usp=sharing" target="_blank" style="target-new: tab;">
							<div class="iconbox-icon">
							<span class="icon-doc"></span>
						</div>
							<div class="iconbox-text">
								<h3 class="iconbox-title">Resume</h3>
							<div class="iconbox-desc">
							</div>
						</div></a>
					</div>

				</div>

				<div class="col-sm-3">

					<div class="iconbox wow slideInRight">
						<a href="https://docs.google.com/presentation/d/1sY8VMigudY50Qvzz7ERH-4HDHQtI9VwmEwm4oTLgpvE/pub?start=true&loop=true&delayms=5000" target="_blank" style="target-new: tab;">
							<div class="iconbox-icon">
							<span class="icon-badge"></span>
						</div>
						<div class="iconbox-text">
							<h3 class="iconbox-title">Awards and Certificates</h3>
							<div class="iconbox-desc"></div>
						</div></a>
					</div>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

{% endblock %} <!-- About end -->

