{% extends "header.html" %}

{% block home_page %} <!-- Home start -->
	<section id="progress" class="pfblock-image screen-height">
        <div class="home-overlay"></div>
		<div class="intro">
			{% block home_text %}
			<div class="start"> <!-- insert text --> </div>
			<h1>This project is in progress<br> Please come back soon </h1>
			<div class="start">    </div>
			{% endblock %} <!-- endblock: home_text -->
		</div>
	{% block home_button %}
        
	{% endblock %}<!-- endblock: home_button -->

	</section>
{% endblock %}

{% block about %}
{% endblock about %}

{% block projects %}
{% endblock %}	
    
{% block skills %}
{% endblock %}

{% block work_experience %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block scrool_up %}
{% endblock %}

{% block foot %} <!-- Footer start -->
{% endblock%}