{% extends "header.html" %}

{% block home%}
{% endblock %}

{% block about %}
{% endblock %}

{% block projects %} <!-- Projects start -->

	
	<section id="projects" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title"><a href = "{% url 'projects_page' %}">My Projects</a></h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							More inside.
						</div>
					</div>

				</div>

			</div><!-- .row -->
            
            
            <div class="row">
                
                <div class="col-xs-12 col-sm-4 col-md-4">
                    
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="{% static "assets/images/microchip.jpg" %}" alt="img01"/>
                            <figcaption>
                                <h2><a href="#home"><span>Smart</span>tiny house</a></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
            
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="{% static "assets/images/item-2.jpg" %}" alt="img01"/>
                            <figcaption>
                                <h2><a href="#home">Funny <span>Tortoise</span></a></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
            
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="{% static "assets/images/item-3.jpg" %}" alt="img01"/>
                            <figcaption>
                                <h2><a href="#home">The <span>Hat</span></a></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
            
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="{% static "assets/images/item-4.jpg" %}" alt="img01"/>
                            <figcaption>
                                <h2><a href="#home">Bang <span>Bang</span></a></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
            
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="{% static "assets/images/item-5.jpg" %}" alt="img01"/>
                            <figcaption>
                                <h2><a href="#home">Crypton <span>Dude</span></a></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4">
            
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="{% static "assets/images/item-6.jpg" %}" alt="img01"/>
                            <figcaption>
                                <h2><a href="#about">Don't <span>Poke</span></a></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>			
                        </figure>
                    </div>
                    
                </div>
                
            </div>


		</div><!-- .contaier -->

	</section>

{% endblock %}	<!-- Projects end -->
    
{% block skills %}
{% endblock %}

{% block work_experience %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block scrool_up %}	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#projects"><i class="fa fa-angle-up"></i></a>
	</div>
 {% endblock %} <!-- Scroll to top end-->
