{% extends "header.html" %}

{% block home %}
{% endblock %}<!-- endblock: home -->

{% block about %}
{% endblock %}

{% block projects %}
{% endblock %}

{% block skills %}


    
    <!-- Skills start -->
    
    <section class="pfblock pfblock-gray" id="engineering_skills">
		
			<div class="container">
			
				<div class="row skills">
					
					<div class="row">

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="pfblock-header wow fadeInUp">
                                <h2 class="pfblock-title">Engineering skills</h2>
                                <div class="pfblock-line"></div>
                                <div class="pfblock-subtitle">
                                    "All is number" -Pythagoras
                                </div>
                            </div>

                        </div>

                    </div><!-- .row -->
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="65" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Matlab</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="55" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">SolidWorks</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="40" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">NI LabVIEW</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Subsonic aerodynamic analysis</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Fluid Mechanics</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="70" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Heat Transfer</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="30" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">MSC Patran</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="50" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">AutoCAD</h3>
					</div>
	
				</div><!--End row -->
			
			</div>
		
    </section>
   
    <section class="pfblock" id="physics_skills">
		
			<div class="container">
			
				<div class="row skills">
					
					<div class="row">

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="pfblock-header wow fadeInUp">
                                <h2 class="pfblock-title">Physics skills</h2>
                                <div class="pfblock-line"></div>
                                <div class="pfblock-subtitle">
                                    "Science cannot solve the ultimate mystery of nature. And that is because, in the last analysis, we ourselves are aprt of the mystery that we are trying to solve." -Max Planck
                                </div>
                            </div>

                        </div>

                    </div><!-- .row -->
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Convective thermal properties of magnetic fluid</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Electricity and Magnetism</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="55" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Optics</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="30" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Magnetohydrodynamics</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="25" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Quantum Mechanics</h3>
					</div>
				
				</div><!--End row -->
			
			</div>
		
    </section>

    <section class="pfblock pfblock-gray" id="programming_skills">
		
			<div class="container">
			
				<div class="row skills">
					
					<div class="row">

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="pfblock-header wow fadeInUp">
                                <h2 class="pfblock-title">Programming skills</h2>
                                <div class="pfblock-line"></div>
                                <div class="pfblock-subtitle">
                                    01001000 01100101 01101100 01101100 01101111 00100000 01010111 01101111 01110010 01101100 01100100 00100001
                                </div>
                            </div>

                        </div>

                    </div><!-- .row -->
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="65" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Matlab</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="38" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">C++</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="40" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Python</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="17" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">html</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="15" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">css</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="5" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Java Script</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="38" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Django-Python</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="15" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Ruby on Rails</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="38" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Linux</h3>
					</div>
			
				</div><!--End row -->
			
			</div>
		
    </section>

    <section class="pfblock" id="other_skills">
		
			<div class="container">
			
				<div class="row skills">
					
					<div class="row">

                        <div class="col-sm-6 col-sm-offset-3">

                            <div class="pfblock-header wow fadeInUp">
                                <h2 class="pfblock-title">Other skills</h2>
                                <div class="pfblock-line"></div>
                                <div class="pfblock-subtitle">
                                   "To acquire knowledge, one must study, but to acquire wisdom, one must observe." -Marilyn Vos Savant
                                </div>
                            </div>

                        </div>

                    </div><!-- .row -->
					
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="70" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Team work</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Problem solving</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Critical thinking</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Fast and motivated learner</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="75" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Report writing</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="60" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Intermediate</span>
                        </span>
						<h3 class="text-center">Grant proposal</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="80" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Proficient</span>
                        </span>
						<h3 class="text-center">Microsoft Office</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="85" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Proficient</span>
                        </span>
						<h3 class="text-center">English</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="87" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Proficient</span>
                        </span>
						<h3 class="text-center">French</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="97" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Proficient</span>
                        </span>
						<h3 class="text-center">Kreyol</h3>
					</div>
					
					<div class="col-sm-6 col-md-3 text-center">
						<span data-percent="40" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                            <span class="text-center">Novice</span>
                        </span>
						<h3 class="text-center">Spanish</h3>
					</div>

				</div><!--End row -->
			
			</div>
		
    </section>
 
    <!-- Skills end -->

{% endblock %}

{% block work_experience %}
{% endblock %}

{% block contact %}
{% endblock %}

{% block scrool_up %}	<!-- Scroll to top -->

	<div class="scroll-up">
		<a href="#engineering_skills"><i class="fa fa-angle-up"></i></a>
	</div>
 {% endblock %} <!-- Scroll to top end-->
